extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
         
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut tellus posuere, malesuada massa non, suscipit nunc. Nulla fringilla erat id elit feugiat, at vestibulum tellus fringilla. Quisque laoreet augue suscipit pulvinar porta. Mauris at scelerisque lorem. Donec 

                p Praesent eget arcu sed nibh iaculis consectetur. Duis lorem ex, dignissim id sem non, tincidunt posuere sapien. Praesent aliquam magna enim, non molestie urna varius in. Sed venenatis ornare mi, non egestas turpis bibendum eget. Sed pellentesque facilisis maximus. 

                p Suspendisse ultrices nisi erat, nec vestibulum risus fermentum sit amet. Phasellus rhoncus neque et risus dictum, id porta dolor pellentesque. Morbi ut semper nibh, vitae gravida nisi. Nam pharetra eu sem ac imperdiet. Morbi consequat sagittis leo. Phasellus 

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae quo repellat dolorum numquam recusandae. Eligendi soluta maiores neque omnis dolore quas, iusto impedit earum minima qui, nobis odit harum culpa.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono de destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae quo repellat dolorum numquam recusandae. Eligendi soluta maiores neque omnis dolore quas, iusto impedit earum minima qui, nobis odit harum culpa.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono de precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores precios
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae quo repellat dolorum numquam recusandae. Eligendi soluta maiores neque omnis dolore quas, iusto impedit earum minima qui, nobis odit harum culpa.
